@font-face {
	font-family:"proxima-nova";
	src: url('../fonts/Proxima Nova Reg.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}


@font-face {
	font-family:"proxima-nova-semibold";
	src: url('../fonts/Proxima Nova Semibold.otf') format('opentype');
	font-weight:300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}

@font-face {
	font-family:"proxima-nova-light";
	src: url('../fonts/ProximaNova-Light.otf') format('opentype');
	font-weight:300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}



.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lt-gradient-top {
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
}
.lt-gradient-bottom {
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.modal {
  display: none;
  z-index: 300;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 590px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #65606a;
  padding: 13px 13px 30px 26px;
  overflow: auto;
}
.modal .close-modal {
  display: block;
  float: right;
  cursor: pointer;
}
html {
  background: #1c1323;
}
body {
  background: #1c1323;
  width: 1272px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  color: #49424f;
  font-family: "proxima-nova", sans-serif;
}
h1 {
  color: #f68e29;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  clear: both;
}
h2 {
  color: #6e6e6e;
  font-weight: normal;
  font-size: 18px;
  clear: both;
}
button {
  padding: 6px 24px;
  border: 1px solid #d2d3d6;
  margin-right: 5px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #6e6e6e;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
}
header {
  padding: 22px 0 0 44px;
  overflow: auto;
  display: block;
}
header #logo {
  display: block;
  float: left;
  margin-right: 96px;
}
header a {
  font-size: 13px;
  color: #6e6e6e;
  text-decoration: none;
}
header a img {
  border: 0 none;
}
header nav {
  display: block;
  float: left;
}
header nav .main {
  margin: 6px 15px 0;
  padding: 0 5px 16px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}
header nav .main:first-of-type {
  margin-left: 0;
}
header nav .main.active {
  color: #f68e29;
  border-bottom: #1c1323 6px solid;
  font-family:"proxima-nova-semibold", sans-serif;
}
header nav .main:hover {
  border-bottom: #1c1323 6px solid;
}
header .account {
  float: right;
  border-left: #d2d3d6 1px solid;
  padding: 5px 40px 10px 24px;
}
header .account img {
  margin-right: 14px;
}
#secondary {
  padding: 29px 0 27px 260px;
  background-color: #1c1323;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  overflow: auto;
}
#secondary a {
  color: #faaf38;
  text-decoration: none;
  font-family:"proxima-nova-semibold", sans-serif;
	font-size:14px
}
#secondary #build {
  float: right;
  padding-right: 195px;
}
#secondary #build a {
  padding-left: 16px;
  color: #ffffff;
	font-weight:normal
}
#secondary #build a.active {
  color: #faaf38;
}
.form-node {
  display: inline-block;
  float: left;
  margin-right: 26px;
}
.form-node.right-align {
  float: right;
  margin-right: 0;
  margin-left: 26px;
}
.form-node.right-align button {
  margin-left: 10px;
}
.form-node label {
  margin-bottom: 7px;
  display: block;
  text-transform: uppercase;
  font-size:12px;
  font-weight:normal;
	color:#eee;
  font-family:"proxima-nova-light", sans-serif;
}
.form-node input,
.form-node select,
.form-node button {
  height: 29px;
  padding: 0 13px;
  box-sizing: border-box;
  border: 1px solid #d2d3d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f4f4f4;
  color: #6e6e6e;
  font-family: "proxima-nova", sans-serif;
  display: block;
  float: left;
  vertical-align: center;
}
.form-node input:focus,
.form-node select:focus,
.form-node button:focus {
  outline: none;
  border: 1px solid #faaf38;
}
.form-node input[type="date"],
.form-node select[type="date"],
.form-node button[type="date"] {
  text-align: center;
}
.form-node input,
.form-node select {
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.form-node button {
  margin: 0 10px;
}
#section-functions {
  padding: 23px 45px 37px;
  background-color: #49424f;
  color: #ffffff;
  overflow: auto;
}
#section-functions .form-node button {
  height: 29px;
  box-sizing: border-box;
  border: 1px solid #f68e29;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  background: #f68e29;
  text-transform: uppercase;
  vertical-align: center;
  display: block;
  float: left;
}
#section-functions .form-node button.search-button {
  margin-left: 5px;
  padding: 6px 7px;
}
#section-functions em {
  color: #f68e29;
  font-style: normal;
}
.add-account {
  display: inline-block;
  margin: 22px 0 0 35px;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}
.add-account img {
  margin: 0 14px -8px;
  border: 0 none;
}
#main-content {background:#49424f;}
#main-content .modal-bkg {
  position: absolute;
  z-index: 200;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: #1c1323;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* for IE 8*/
}
.client-super-table {
  border-spacing: 15px 3px;
	padding-bottom:20px;
  color: #575656;
	width:96%;
	margin:0 auto;
}
.client-super-table th {
  padding-top: 4px;
  font-size: 13px;
  vertical-align: bottom;
  font-weight: normal;
	padding:16px 0 8px;
	line-height:20px;
  cursor:pointer;
}
.client-super-table th.client-header {
  color: #f68e29;
  font-size: 18px;
  font-family:"proxima-nova-semibold", sans-serif;
}
.client-super-table td {
  padding: 5px 22px 5px;
  /*border-bottom: 1px solid #d2d3d6;*/
  font-size: 12px;
}
.client-super-table td.divider-cell {
  border: 0 none;
  border-bottom: 1px solid #777;
}
.client-super-table td.divider-cell-spacer {
  border: 0 none;
}
.client-super-table td.client-cell {
  border: 0 none;
  color: #ffffff;
  background-color:#6D6872;
  font-size: 13px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.client-super-table td.client-cell.all-clients-cell {
  background-color: #f68e29;
}
.client-super-table td.row-label {
  border: 0 none;
  padding: 5px 0 4px;
	color:#ddd
}
.client-super-table td.total {
  border: 0 none;
  color: #ffffff;
  background-color:#333;
}
.client-super-table td.total.red {
  color: #f94b4b;
}
.client-super-table td.total.yellow {
  color: #f4c80f;
}
.client-super-table td.total.green {
  color: #22b573;
}
.account-admin-table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #49424f;
	width:100%;
}
.account-admin-table th {
  border: 1px solid #d2d3d6;
  font-size: 13px;
  font-weight: normal;
  padding: 20px 10px;
}
.account-admin-table th.dark {
  background-color: #37323b;
  color: #ffffff;
  font-weight:normal;
}
.account-admin-table td {
  border: 1px solid #d2d3d6;
  font-size: 13px;
  padding: 10px 5px;
  vertical-align: center;
}
.account-admin-table td.centered {
  text-align: center;
}
.account-admin-table td .edit-button {
  display: block;
  border: 0 none;
  cursor: pointer;
  background-image: url('../img/edit-icon-sprite.png');
  background-repeat: no-repeat;
  height: 20px;
  width: 19px;
  margin: 3px 15px 0;
}
.account-admin-table td .edit-button.active {
  background-position: -19px 0;
}
.account-admin-table td a {
  text-decoration: underline;
	font-weight:bold
}
.account-admin-table td input {
  padding: 10px 12px;
  background-color: #f4f4f4;
  border: 1px solid #d2d3d6;
  color: #49424f;
  text-align: left;
  font-family: "proxima-nova", sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.account-admin-table td input:disabled {
  border: 1px solid #ffffff;
  background: #ffffff;
}
.account-admin-table td input[type="text"] {
  width: 82px;
}
.account-admin-table td .roles-modal {
  display: none;
  z-index: 300;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #65606a;
  padding: 13px 13px 30px 26px;
  overflow: auto;
  width: 590px;
}
.account-admin-table td .roles-modal .close-modal {
  display: block;
  float: right;
  cursor: pointer;
}
.account-admin-table td .roles-modal .col-1,
.account-admin-table td .roles-modal .col-2,
.account-admin-table td .roles-modal .col-3,
.account-admin-table td .roles-modal .col-4 {
  margin-top: 35px;
  display: inline-block;
  float: left;
  width: 134px;
  text-align: left;
  color: #ffffff;
}
.account-admin-table td .roles-modal .col-3 {
  border-left: 1px solid #d2d3d6;
  padding-left: 33px;
}
.account-admin-table td .roles-modal p {
  margin-top: 0;
  margin-bottom: 10px;
}
.account-admin-table td .roles-modal em {
  color: #f68e29;
  text-transform: uppercase;
  font-style: normal;
}
.account-admin-table td .roles-modal input[type="checkbox"] {
  margin: 0 5px 0 0;
}
/*#update-accounts {
  display: block;
  float: right;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  margin: 10px 0 65px;
  padding: 5px 35px;
}*/
#records-table-selector {
  padding: 60px 0 24px;
  display: block;
  clear: both;
}
.records-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  margin-bottom: 50px;
}
.records-table th {
  padding: 12px 0;
  border: 0 none;
  color: #47506e;
  text-align: center;
  font-weight: normal;
}
.records-table th.secondary-header {
  padding: 8px 0 4px;
  border: 1px solid #797c84;
  color: #ffffff;
  background-color: #4c515b;
}
.records-table td {
  padding: 12px 0;
  border: 1px solid #d2d3d6;
  color: #575656;
  text-align: center;
}
.records-table td.account {
  padding: 12px 12px;
}
.records-table td.row-title {
  color: #47506e;
}
#records-table-all tr:nth-child(7n-2),
#records-table-all tr:nth-child(7n-1),
#records-table-all tr:nth-child(7n) {
  background: #f0f1f3;
}
#records-table-vs {
  display: none;
}
#records-table-vs tr:nth-child(7n-1),
#records-table-vs tr:nth-child(7n),
#records-table-vs tr:nth-child(7n+1) {
  background: #f0f1f3;
}
#records-table-vs .remove-striping {
  background: #ffffff !important;
}
#add-new-account {
  display: block;
  width: 385px;
  margin: 30px 0 160px;
}
#add-new-account label,
#add-new-account input[type="text"],
#add-new-account select {
  display: inline-block;
  padding: 5px 0;
  margin: 0 0 22px;
  color: #49424f;
  font-family: "proxima-nova", sans-serif;
}
#add-new-account label {
  width: 80px;
  text-align: right;
  margin-right: 30px;
	font-size:15px
}
#add-new-account input[type="text"],
#add-new-account select {
  width: 270px;
  border: 1px solid #d2d3d6;
  padding: 5px;
  box-sizing: border-box;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
#add-new-account select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#add-new-account input[type="button"],
#add-new-account input[type="submit"] {
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d3d6;
  padding: 5px 12px;
  float: right;
  margin-left: 22px;
  text-transform: uppercase;
  color: #49424f;
}
.self-service-breadcrumb li {
  position: relative;
  margin: 0 30px 0 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.self-service-breadcrumb li:first-of-type {
  margin-left: -252px;
}
.self-service-breadcrumb li:after {
  position: absolute;
  top: 18px;
  content: "";
  border-bottom: 1px solid #d2d3d6;
  width: 34px;
}
.self-service-breadcrumb li:last-of-type:after {
  display: none;
}
.self-service-breadcrumb div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  background-color: #f68e29;
  color: #ffffff;
  width: 170px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.self-service-breadcrumb div.current {
  background-color: #faaf38;
}
.self-service-breadcrumb div.future {
  background-color: #49424f;
  color: #6d6872;
}
.upload-amount {
  margin: -8px 0 -16px;
  float: right;
  display: inline-block;
}
.upload-amount img {
  margin: 0 8px -8px;
  border: 0 none;
}
.progress-bar {
  width: 297px;
  margin-bottom: 17px;
  height: 29px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  border: 1px solid #d2d3d6;
  position: relative;
}
.progress-bar .progress {
  position: absolute;
  background-color: #f68e29;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  padding-top: 6px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
}
.inline-icon {
  margin: 0 8px -8px 0;
}
#field-mapping {
  text-align: right;
}
#field-mapping em {
  color: #f68e29;
}
#field-mapping table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 976px;
  margin: 8px 0 24px;
}
#field-mapping table th {
  color: #ffffff;
  height: 47px;
  padding: 0;
  border: 1px solid #d2d3d6;
  text-align: center;
  vertical-align: middle;
  background-color: #37323b;
  font-weight: normal;
  font-size: 18px;
}
#field-mapping table th:last-of-type {
  background-color: #49424f;
}
#field-mapping table td {
  height: 47px;
  padding: 0;
  border: 1px solid #d2d3d6;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 15px;
}
#field-mapping table td select {
  font-family: "proxima-nova", sans-serif;
  box-sizing: border-box;
  padding-left: 185px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  font-size: 15px;
  border: 0 none;
  background: none;
}
#field-mapping table td select option {
  font-family: "proxima-nova", sans-serif;
  background-color: #37323b;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 0;
  line-height: 2;
}
#field-mapping table td select:focus {
  outline: none;
}
#field-mapping table td img {
  position: absolute;
  top: 13px;
  left: 40px;
  z-index: 100;
}
#field-mapping input[type='submit'] {
  font-family: "proxima-nova", sans-serif;
  margin-bottom: 75px;
  float: right;
  color: #f68e29;
  text-transform: uppercase;
  font-weight: bold;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
}
.field-mapping-results {
  margin-bottom: 38px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 392px;
}
.field-mapping-results td {
  border-top: 1px solid #d2d3d6;
  border-bottom: 1px solid #d2d3d6;
  padding: 13px 23px 13px 2px;
}
.pilot-modal {
  box-sizing: border-box;
  width: 420px;
  padding: 100px 63px 100px 110px;
  color: white;
  background: #65606a url('../img/alert-icon.png') no-repeat 60px 100px;
}
.pilot-modal .alert {
  display: block;
  float: left;
}
.pilot-modal h2 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}
.pilot-modal p {
  margin: 3px 0 30px;
  font-size: 18px;
  font-weight: normal;
}
.user-contact-info {
  color: #797c84;
}
.notification-type {
  line-height: 3;
}
p.self-service-recap {
  line-height: 2.5;
}
footer {
  padding: 36px 45px;
  background-color: #1c1323;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
/*udit*/
.fl{float:left}
.fr{float:right}
.cb{clear:both}
img{max-width:100%}
.mtop-20{margin-top:20px}
.mtop-40{margin-top:40px}
.cmn_wrapper{background:#fff;padding:0;overflow:auto;position:relative;min-height:500px;}
.main-content{width:93%;margin:0 auto}
.check-radio-txt{font-weight:bold;}
.tbl-white-bg{position:absolute;width:100%;height:70px;background:#fff;top:0px;left:0}
.client-super-table tr.tbl-menu-bar{background:#fff;border-bottom:none}
.client-super-table tr.data_bgtd td{background:#333}
.client-super-table tr.data_bgtd td.client-cell{background:#6D6872}
.client-super-table tr.data_bgtd td.client-cell.all-clients-cell{background:#f68e29}
.client-super-table tr.data_bgtd td.row-label{background:none}
.client-super-table th,.client-super-table tr.data_bgtd td{position:relative}
.client-super-table th:nth-child(4){text-align:left}
.client-super-table td:first-child ~ td{opacity:0.8}
.client-super-table th:nth-child(2) ~ th:after{content:"❮";display:inline-block;position:relative;top:0;right:-10px;font-size:8px;font-weight:bold;color:#f68e29;transform: rotate(270deg);cursor:pointer}
.arrow-down-f-pro{background:url(../img/smal-aro.png) no-repeat 0 0;display:inline-block;position:relative;top:0;right:-10px;font-size:10px;font-weight:bold;color:#f68e29;cursor:pointer;width:10px;height:10px;}
.client-super-table tr.data_bgtd td.total.arrow-up:before{content:"❮";display:block;position:absolute;top:4px;left:6px;font-size:12px;color:#22b573;font-weight:bold;transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);cursor:pointer}
.client-super-table tr.data_bgtd td.total.down-arw:before{content:"❮";display:block;position:absolute;top:4px;left:6px;font-size:12px;font-weight:bold;color:#f94b4b;transform:rotate(270deg);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);cursor:pointer}
.client-super-table tr.data_bgtd td.total.h-line:before{content:"─";display:block;position:absolute;color:#f4c80f;transform:none;top:4px;left:4px;font-weight:bold;font-size:14px}
.load-more-link{width:100%;background:#fff;height:90px;}
.load-more-link a{display:inline-block;float:right;text-decoration:none;color:#A3A7B6;font-size:12px;margin:30px 50px 0 0;}
.time-set-range.form-node label{margin-left:5px}
.time-set-range.form-node .txt-field-block{display:inline-block;position:relative}
.time-set-range .txt-field-block input[type="text"]{width:120px;margin:0 5px;padding-left:30px}
.load-more-link a:before{content:"+";display:inline-block;position:relative;top:6px;left:-3px;font-size:30px;color:#f68e29}
.time-set-range .txt-field-block .caleder-icon{background:url(../img/calender-icon.png) no-repeat;display:block;position:absolute;top:5px;left:10px;height:22px;width:22px;opacity:0.6}
.account-admin-table td.role{width:100px}
.update-btn{text-align:right;margin:15px 0}
.update-btn input[type="submit"]{font-family:"proxima-nova", sans-serif;text-transform: uppercase;font-size:15px;padding:5px 24px;color: #555;cursor:pointer}
/*.update-btn a{font-family:"proxima-nova", sans-serif;text-transform:uppercase;font-size:15px;padding:5px 24px;color: #555;text-decoration:none;display:inline-block;border:2px solid #ddd;
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #EEEEEE));
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
}*/
.update-btn input[type="submit"]{font-family:"proxima-nova", sans-serif;text-transform: uppercase;font-size:15px;padding:5px 24px;color: #555;}
.account-admin-table td.edit-button-cell{background:#e1e1e1;cursor:pointer}
.account-admin-table td .edit-button:hover,.account-admin-table td .edit-button.active{background-position:-19px 0px;}
.account-admin-table td.td-col-arw{text-align:center;background:#848088;cursor:pointer}
.account-admin-table td.td-col-arw:hover,.account-admin-table td.td-col-arw.active{background:#49424f}
.arrow-sprite{background:url(../img/arrow-sprite.png) no-repeat;width:16px;height:12px;display:inline-block;}
.arrow-sprite.default-dn-arw{background-position:0px -30px}
.account-admin-table td.td-col-arw:hover .arrow-sprite.default-dn-arw,.account-admin-table td.td-col-arw.active .arrow-sprite.default-dn-arw{background-position:0px 0px}
.arrow-sprite.default-fwd-arw{background-position:0px -14px;height:16px}
.account-admin-table td.check-radio-txt{font-size:12px}
.account-admin-table td input[type="text"].inp-fld-box{border:2px solid #ddd;padding:5px 10px;opacity:0.7;font-style:italic;
background-image: -ms-linear-gradient(bottom, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
background-image: -moz-linear-gradient(bottom, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
background-image: -o-linear-gradient(bottom, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(47, #F6F6F6), color-stop(100, #ededed));
background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
background-image: linear-gradient(to top, #ffffff 0%, #F6F6F6 47%, #ededed 100%);}
.overlay{position:fixed;top:0;right:0;bottom:0;left:0;opacity:.75;z-index:1000;display:none;background:rgba(0,0,0,0.8)}
.popup-main{margin:0 auto;width:580px;height:520px;background:#65606A;border:1px solid #65606A;left:30%;position:fixed;top:10%;display:none;z-index: 10001;}
.close-icon a{text-decoration:none;display:inline-block;float:right;font-size:40px;color:#f68e29;margin:0px 10px;font-weight: bold;}
/*03/03/2016*/
.form-node h1.title-head{margin:26px 40px 0 20px}
.white-nav-panel{background:#fff;height:60px}
.white-nav-panel ul{margin:0;padding:0;list-style-type:none}
.white-nav-panel ul li{margin:0 50px 0 80px;display:inline-block;padding:22px 0;position:relative}
.white-nav-panel ul li a{text-decoration:none;color:#333;text-transform:uppercase;font-size:15px;font-weight:normal}
.white-nav-panel ul li a:hover,.white-nav-panel ul li.active a{color:#49424F;font-weight:bold}
.white-nav-panel ul li a:hover:before,.white-nav-panel ul li.active a:before{content:"";width:90%;z-index:9;border:3px solid #FAAF38;border-radius:4px;position:absolute;bottom:0;left:3%;}
.chart-content{background:#0E0A12;padding:30px 50px}
.chart-block{width:100%;margin-bottom:30px}
.chart-block .chart-box{width:48.8%;box-sizing:border-box;height:315px;text-align:center;background:#1C1423}
.chart-block .chart-box h6{font-family:"proxima-nova-semibold", sans-serif;font-size:14px;color:#fff;margin:0;padding:10px 20px;text-align:left;font-weight:normal; background:#574F5E; float:left; letter-spacing: 1px;}
.chart-box.geo-chart{width:100%;}
.chart-hd{background:#413B47;width:100%;box-sizing: border-box;margin-bottom:10px;}

#result-chart .chart-block .chart-box{width:31.6%;margin-right:30px}
#result-chart .chart-block .chart-box:nth-child(3){margin-right:0}
.add-new-account{width:93%;margin:0 auto}












/*# sourceMappingURL=styles.css.map */

