<section id="secondary">
        <a href="">Product Status</a>
        <div id="build">
            <!--<a class="active" href="">Prod</a>-->
            <a href="">STAGE</a>
            <!--<a href="">DS</a>-->
            <a href="">DEV</a>
        </div>
    </section>

    <section id="section-functions">
        <form id="search-accounts">
            <div class="form-node">
                <label for="search">
                    Search Accounts
                </label>
                <input type="text" name="search" value="enter search">
                </input>

                <button type="button" class="search-button">
                    <img src="img/search-icon.png"/>
                </button>
            </div>
        </form>
        <a class="add-account" href="add-new-account.html"><img src="img/add-account-icon.png"/>ADD ACCOUNT</a>
    </section>

    <section class="cmn_wrapper">
				<div class="main-content">
        <h1 class="mtop-40">Edit account info</h1>
        <h2>Click the gear icon to edit the content of a row</h2>

        <!-- ACCOUNT ADMIN FORM -->

            <!-- Note: each field needs a name value specific to THAT ACCOUNT, fields with the same names will cause errors -->

        <form id="accounts-admin" class="mtop-20">
            <table class="account-admin-table">
                <!-- HEADER -->
                <tr>
                    <th></th>
                    <th>Account</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Company</th>
                    <th>Contact #</th>
                    <th>Email</th>
                    <th>API KEY</th>
                    <th class="dark">Role</th>
                    <th class="dark">Active</th>
                    <th class="dark">Locked</th>
                    <th class="dark">Password</th>
                </tr>
                <!-- END HEADER -->

                <!-- ACCOUNT ROW -->
                <tr class="account-row" ng-repeat-start="row in result" id="account-{{row.id}}" >
                    <td class="td-col-arw">
                        <a class="arrow-sprite default-dn-arw" ng-click="viewUsers(row.id);"></a>
                    </td>
                    <td>
                        <input type="text" name="account-3-user" value="{{ row.name }}" disabled />
                    </td>
                    <td colspan="10">
                    </td>

                </tr>
								<tr class="account-row" ng-repeat="user in row.users" id="user-{{row.id}}-{{user.id}}" ng-repeat-end ng-show="showUsers-411">
                    <td class="edit-button-cell">
                        <a class="edit-button" ng-click="enableEdit('user-'+row.id+'-'+user.id);" id="btn-user-{{row.id}}-{{user.id}}"></a>
                    </td>
                    <td>
                        <input type="text" name="account-3-user" value="{{user.user}}" disabled />
                    </td>
                    <td>
                        <input type="text" name="account-3-first-name" value="{{user.firstName}}" disabled />
                    </td>
                    <td>
                        <input type="text" name="account-3-last-name" value="{{user.lastName}}" disabled />
                    </td>
                    <td>
                        <input type="text" name="account-3-company" value="{{user.company}}" disabled />
                    </td>
                    <td>
                        <input type="text" name="account-3-contact-num" value="{{user.contact}}" disabled />
                    </td>
                    <td>
                        <input type="text" name="account-3-contact-email" value="{{user.apiKey}}" disabled />
                    </td>
                    <td>
                        <input type="text" name="account-3-api" value="{{user.apiKey}}" disabled />
                    </td>
                    <td class="centered role">
                        <a class="roles-trigger">7 Roles</a>
                        <!-- ROLES MODAL -->
                            <div class="modal modal roles-modal">
                                <a class="close-modal"><img src="img/close-icon.png"/></a>
                                <div class="col-1">
                                    <p><input type="checkbox" name="account-3-super-admin" value="super-admin" disabled> Super Admin</p>
                                    <p><input type="checkbox" name="account-3-ssn-5" value="ssn-5" disabled> SSN 5</p>
                                    <p><input type="checkbox" name="account-3-admin" value="admin" disabled> Admin</p>
                                    <p><input type="checkbox" name="account-3-details" value="details" disabled> Details</p>
                                </div>
                                <div class="col-2">
                                    <p><input type="checkbox" name="account-3-debug" value="debug" disabled> Debug</p>
                                    <p><input type="checkbox" name="account-3-kyc" value="kyc" disabled> KYC</p>
                                    <p><input type="checkbox" name="account-3-ofac" value="ofac" disabled> OFAC</p>
                                    <p><input type="checkbox" name="account-3-delegated" value="delegated" disabled> Delegated</p>
                                </div>
                                <div class="col-3">
                                    <p><em>Admin</em></p>
                                    <p><input type="checkbox" name="account-3-reports" value="reports" disabled> Reports</p>
                                    <p><input type="checkbox" name="account-3-settings" value="settings" disabled> Settings</p>
                                    <p><input type="checkbox" name="account-3-developer" value="developer" disabled> Developer</p>
                                </div>
                                <div class="col-4">
                                    <p><input type="checkbox" name="account-3-feedback" value="feedback" disabled> Feedback</p>
                                    <p><input type="checkbox" name="account-3-training" value="training" disabled> Training</p>
                                </div>
                            </div>
                        <!-- END ROLES MODAL -->
                    </td>
                    <td class="centered check-radio-txt">
                        <input type="checkbox" name="account-3-active" value="no" checked disabled> NO
                    </td>
                    <td class="centered check-radio-txt">
                        <input type="checkbox" name="account-3-locked" value="ses" checked disabled> YES
                    </td>
                    <td class="centered">
                        <a>Reset</a>
                    </td>
                </tr>


            </table>
            <div class="update-btn"><input id="update-accounts" type="submit" value="UPDATE" /></div>
						<!--<div class="update-btn"><a href="javascript:void(0)" id="update-accounts" />UPDATE</a></div>-->

       <div class="modal-bkg">
            &nbsp;
        </div>
    </section>
