<section id="secondary">
</section>
    <section id="main-content">

        <h1>Add new account</h1>

        <form id="add-new-account">

            <label for="account">Account</label>
            <input type="text" name="account"/>

            <label for="first-name">First name</label>
            <input type="text" name="first-name"/>

            <label for="last-name">Last name</label>
            <input type="text" name="last-name"/>

            <label for="company">Company</label>
            <input type="text" name="company"/>

            <label for="number">Contact #</label>
            <input type="text" name="number"/>

            <label for="email">Email</label>
            <input type="text" name="email"/>

            <label for="api-key">API KEY</label>
            <input type="text" name="api-key"/>

            <label for="role">Role</label>
                <select name="role">
                    <option value="option-1">option-1</option>
                    <option value="option-2">option-2</option>
                    <option value="option-3">option-3</option>
                </select>

            <label for="active">Active</label>
                <select name="active">
                    <option value="option-1">option-1</option>
                    <option value="option-2">option-2</option>
                    <option value="option-3">option-3</option>
                </select>

            <label for="locked">Locked</label>
                <select name="locked">
                    <option value="option-1">option-1</option>
                    <option value="option-2">option-2</option>
                    <option value="option-3">option-3</option>
                </select>

                <div class+
                <input type="button" name="cancel" value="Cancel"/>
                <input type="submit" name="add" value="Add"/>

        <form>
    </section>