<section id="secondary">
	<a class="active" href="#/system_status">System Status</a>
	<a href="#/">Product Status</a>
</section>
<section id="section-functions">
  <a href="#/performance">Performance</a>
  <a href="#/user_demographics">User Demographics</a>
</section>

<section id="main-content">
  <div class="chart-wraper">
    <h2>Latency</h2>
    <div class="chart" id="latencyChart" style="width:550px; height:300px;"></div>
  </div>
  <div class="chart-wraper">
    <h2>Volume</h2>
    <div class="chart" id="volumeChart" style="width:550px; height:300px;"></div>
  </div>
  <div class="chart-wraper">
    <h2>Uptime</h2>
    <div class="chart" id="uptimeChart" style="width:550px; height:300px;"></div>
  </div>
  <div class="chart-wraper">
    <h2>Error</h2>
    <div class="chart" id="div_g" style="width:550px; height:300px;"></div>
  </div>
</section>
