
    <section id="secondary">
        <ul class="self-service-breadcrumb">
            <li><div class="past">1. Upload</div></li>
            <li><div class="current">2. Mapping</div></li>
            <li><div class="future">3. Validation</div></li>
            <li><div class="future">4. Bulk Scoring</div></li>
            <li><div class="future">5. Report</div></li>
        <ul>
    </section>

    <section id="section-functions">
        <div class="upload-amount">
            <img src="img/upload-icon.png"/>
            You have uploaded <em>2,468</em> records out of <em>50,000</em> available
        </div>
    </section>

    <section id="main-content">

        <h1>Directions</h1>
        <p>When you upload your file, the fields should match the rows on the SOCURE column below</p>
        <p><img src="img/check-icon.png" class="inline-icon">Use the drop-down menus on the USER COLUMN to match the SOCURE COLUMN</p>

        <div id="field-mapping" class="form-node">
            <form>
                <em>*</em> Mandatory
                <table>
                    <tr>
                        <th>User Column</th>
                        <th>Socure Column</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/check-icon-sm.png">
                            <select class="field-mapping-select">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </td>
                        <td>
                            Country
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/check-icon-sm.png">
                            <select class="field-mapping-select">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </td>
                        <td>
                            Address*
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/check-icon-sm.png">
                            <select class="field-mapping-select">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </td>
                        <td>
                            Surname*
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/check-icon-sm.png">
                            <select class="field-mapping-select">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </td>
                        <td>
                            Fname*
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/x-icon-sm.png">
                            <select class="field-mapping-select">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </td>
                        <td>
                            Email*
                        </td>
                    </tr>
                </table>
                <input type="submit" name="submit" onclick="window.location='#/pss_validate'">
            </form>
        </div>

    </section>
