<section id="secondary">
	<a class="active" href="#/system_status">System Status</a>
	<a href="#/">Product Status</a>
</section>
<section id="section-functions">
		
</section>

<section id="main-content">
<div class="chart-wraper">
	<h2>Age Distribution</h2>
	<div class="chart" id="ageDistrChart" style="width:530px; height:300px;"></div>
</div>
<div class="chart-wraper">
	<h2>Gender Distribution</h2>
	<div class="chart" id="genderDistrChart" style="width:530px; height:300px;"></div>
</div >
<div class="chart-wraper">
	<h2>Geo Distribution</h2>
	<div class="chart" id="geoDistrChart" style="width:1100px; height:300px;"></div>
</div>